.alert-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.form-field {
    width: 80vw;
}
