.error {
    background-color: rgb(239, 139, 139);
    width: 80%;
    border-radius: 5px;
    position: relative;
}

.error {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
} 

.good {
    background-color: rgb(152, 239, 139);
    width: 80%;
    border-radius: 5px;
    position: relative;
}

.good {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
} 

.warning {
    background-color: rgb(236, 255, 91);
    width: 80%;
    border-radius: 5px;
    position: relative;
}

.warning {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
} 

.x-button {
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 10px;
    padding: 10px;
    transition: 
        background-color 250ms ease-in
    ;
}

.x-button:hover {
    background-color: rgb(207, 216, 24);
}

.not-showing {
    display: none;
}