@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.btn {
    font-size: 18px;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    padding: 1em;
    font-weight: 400;
    letter-spacing: 1.2px;
}

.btn-block {
    width: 100%;
}

.btn-primary {
    background-color: rgb(55, 55, 255);
    color: white;
    transition: 
        background-color 200ms ease-in,
        color 200ms ease-in,
        border 200ms ease-in
    ;
}

*, *::before, *::after {
    box-sizing: content-box;
}

.btn-primary:hover {
    background-color: white;
    color: rgb(55, 55, 255);
    outline: 2px solid rgb(55, 55, 255);
}

.btn-danger {
    background-color: rgb(255, 55, 55);
    color: white;
    transition: 
        background-color 200ms ease-in,
        color 200ms ease-in,
        border 200ms ease-in
    ;
}

.btn-danger:hover {
    background-color: white;
    color: rgb(255, 55, 55);
    outline: 2px solid rgb(255, 55, 55);
}